@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
.navbar {
  background-color: #21252D;
  border-radius: 0px;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: .7rem 3.4rem;
  }
}

@media only screen and (max-width: 992px) {
  .navbar .navbar-brand {
    display: none;
  }
}

.navbar-light .navbar-toggler {
  background-image: url(../images/icons/escores.png);
  background-size: 100%;
  border-color: transparent;
}

.navbar-light .navbar-toggler .white {
  color: #FFFFFF;
  font-size: 1.6rem;
}

@media only screen and (min-width: 992px) {
  .navbar-light .navbar-nav .nav-item {
    float: right;
    margin-left: 1rem;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-item {
    border-top: solid 2px;
    padding: 4px 0px 4px 0px;
  }
  .navbar-light .navbar-nav .nav-item span {
    margin-left: 1rem;
  }
  .navbar-light .navbar-nav .nav-item:nth-child(1) {
    border-top: none;
  }
}

.navbar-light .navbar-nav .nav-item .white {
  color: #848484;
}

.navbar-light .navbar-nav .nav-item span:hover .white {
  cursor: pointer;
  color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
  cursor: none;
  display: inline-block;
  font-family: arial;
  font-size: .9rem;
}

.none {
  display: none;
}

.long {
  margin-top: 50px;
}

.flex-middle-horizontal {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.flex-middle-vertical {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.middle {
  height: 75vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.middle .full {
  width: 450px;
}

.middle .panel-default {
  height: 450px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 8px #C5C6C7;
  font-family: lato;
  font-weight: bold;
}

@media only screen and (min-width: 544px) {
  .middle .panel-default {
    width: 350px;
    height: 450px;
  }
}

.middle .panel-default .panel-heading {
  text-align: center;
  padding-top: 30px;
  font-family: arial;
}

.middle .panel-default .panel-heading h3 {
  color: #515151;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.middle .panel-default .panel-heading p {
  color: #C5C6C7;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 1px;
}

.middle .panel-default .admin-head {
  background-color: #21252D;
  padding-bottom: 5px;
}

.middle .panel-default .admin-head h3 {
  color: #FFFFFF;
  font-size: 1.2rem;
}

.middle .panel-default .admin-head p {
  font-size: .8rem;
}

.middle .panel-default .panel-body {
  margin-top: 60px;
}

.middle .panel-default .panel-body .panel-wrapper {
  padding: 0px 30px 0px 30px;
}

.middle .panel-default .panel-body .panel-wrapper .fileContainer {
  position: relative;
  height: 110px;
  width: 110px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  background-image: url(../images/icons/propic.png);
  background-position: center;
  background-size: 110px;
  border: solid 3px #C5C6C7;
  border-radius: 100%;
  padding: .5em;
}

.middle .panel-default .panel-body .panel-wrapper .fileContainer label {
  position: relative;
  height: 35px;
  width: 35px;
  background-image: url("../images/icons/plus.png");
  opacity: .5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: none;
  cursor: pointer;
  margin-bottom: 0;
  z-index: 2;
}

.middle .panel-default .panel-body .panel-wrapper .fileContainer label [type=file] {
  display: none;
}

.middle .panel-default .panel-body .panel-wrapper .fileContainer label:hover {
  opacity: 1;
}

.middle .panel-default .panel-body .panel-wrapper .fileContainer img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.middle .panel-default .panel-body .panel-wrapper input {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 2px;
  border: none;
  background-color: #ececed;
  color: #898989;
}

.middle .panel-default .panel-body .panel-wrapper textarea {
  font-size: 1rem;
  width: 100%;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 2px;
  border: none;
  background-color: #ececed;
  color: #898989;
  padding-left: 10px;
  resize: none;
}

.middle .panel-default .panel-body .panel-wrapper .checkbox {
  color: #515151;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 10px;
}

.middle .panel-default .panel-body .panel-wrapper .checkbox label {
  cursor: pointer;
}

.middle .panel-default .panel-body .panel-wrapper .checkbox label [type="checkbox"] {
  display: none;
}

.middle .panel-default .panel-body .panel-wrapper .checkbox label [type="checkbox"] + .item-text:before {
  content: "\f096";
  font-family: FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 3px;
  color: #636363;
}

.middle .panel-default .panel-body .panel-wrapper .checkbox label [type="checkbox"]:checked + .item-text:before {
  content: "\f14a";
  color: #636363;
  -webkit-animation: tick 170ms ease-in;
  animation: tick 170ms ease-in;
}

.middle .panel-default .panel-body .panel-wrapper .social-icons {
  margin-bottom: 20px;
}

.middle .panel-default .panel-body .panel-wrapper .social-icons button {
  width: 32px;
  height: 32px;
  margin: 10px 4px 30px 4px;
  border: none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  cursor: pointer;
}

.middle .panel-default .panel-body .panel-wrapper .social-icons button:nth-child(1) {
  background-image: url("../images/icons/FACEBOOKblack.png");
}

.middle .panel-default .panel-body .panel-wrapper .social-icons button:nth-child(2) {
  background-image: url("../images/icons/TWITTERblack.png");
}

.middle .panel-default .panel-body .panel-wrapper .social-icons button:nth-child(3) {
  background-image: url("../images/icons/githubblack.png");
}

.middle .panel-default .panel-body .panel-wrapper .social-icons button:nth-child(4) {
  background-image: url("../images/icons/behanceblack.png");
}

.middle .panel-default .panel-body .panel-wrapper .button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.middle .panel-default .panel-body .panel-wrapper .button button {
  border-radius: 5px;
  width: 100px;
  margin-top: 0px;
  background: #00AA58;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #00AA58, #00A6B9);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00AA58, #00A6B9);
  /* Standard syntax */
  border: none;
}

.middle .panel-default .panel-body .panel-wrapper .forgot {
  text-align: center;
  margin-top: 0px;
  color: #3266AD;
  font-size: .9rem;
}

@media only screen and (min-width: 768px) {
  .middle .full {
    width: 450px;
  }
}

@-webkit-keyframes tick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes tick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.float {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 55vh;
  width: 100%;
  background: #00AA58;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #00AA58, #00A6B9);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00AA58, #00A6B9);
  /* Standard syntax */
}

.warning-red {
  font-size: .8rem;
  color: #E84D3D;
}

body {
  background-image: url("../images/bg.png");
}

body .card {
  background-color: #FFFFFF;
  margin: 10px -5px 10px -5px;
  padding: 10px;
}

/*# sourceMappingURL=app.css.map */
