///////////////////////////////////////////////
///                                         ///
///----------------imports------------------///
///                                         ///
///////////////////////////////////////////////



//////////////////// END /////////////////////


///////////////////////////////////////////////
///                                         ///
///------------variables-Fonts--------------///
///                                         ///
///////////////////////////////////////////////



//////////////////// END /////////////////////


///////////////////////////////////////////////
///                                         ///
///-----------variables-Colors--------------///
///                                         ///
///////////////////////////////////////////////

$dark-blue: #21252D;
$light-grey: #848484;
$white: #FFFFFF;
$dark-grey: #636363;
$blue: #3266AD;

//////////////////// END /////////////////////
