///////////////////////////////////////////////
///                                         ///
///----------------imports------------------///
///                                         ///
///////////////////////////////////////////////
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

//////////////////// END /////////////////////


///////////////////////////////////////////////
///                                         ///
///------------variables-Fonts--------------///
///                                         ///
///////////////////////////////////////////////

$arial: arial;
$lato: lato;

//////////////////// END /////////////////////


///////////////////////////////////////////////
///                                         ///
///-----------variables-Colors--------------///
///                                         ///
///////////////////////////////////////////////

$dark-blue: #21252D;
$light-grey: #848484;
$lightest-grey: #C5C6C7;
$white: #FFFFFF;
$dark-grey: #636363;
$darkest-grey: #515151;
$blue: #3266AD;
$red: #E84D3D;
// gradient-button //
$green: #00AA58;
$skyblue: #00A6B9;

//////////////////// END /////////////////////


///////////////////////////////////////////////
///                                         ///
///-----------variables-screen--------------///
///                                         ///
///////////////////////////////////////////////

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 544px;


//////////////////// END /////////////////////
