///////////////////////////////////////////////
///                                         ///
///----------------imports------------------///
///                                         ///
///////////////////////////////////////////////
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


//////////////////// END /////////////////////


///////////////////////////////////////////////
///                                         ///
///------------variables-Fonts--------------///
///                                         ///
///////////////////////////////////////////////

$arial: arial;

//////////////////// END /////////////////////


///////////////////////////////////////////////
///                                         ///
///-----------variables-Colors--------------///
///                                         ///
///////////////////////////////////////////////

$dark-blue: #21252D;
$light-grey: #848484;
$white: #FFFFFF;
$dark-grey: #636363;
$blue: #3266AD;

//////////////////// END /////////////////////


///////////////////////////////////////////////
///                                         ///
///-----------variables-screen--------------///
///                                         ///
///////////////////////////////////////////////

$screen-mid: 992px;

//////////////////// END /////////////////////
