

// Variables
@import "variables";

// Files
@import "mixins";
@import "./modules/navbar.scss";
@import "./modules/auth.scss";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body{
	background-image: url("../images/bg.png");

	//////////////////////////////////////
	//
	//   	BOILERPLATE RULES
	//
	//////////////////////////////////////
	.card{
		background-color: $white;
		margin: 10px -5px 10px -5px;
		padding: 10px;
	}
}
