
.none{
    display: none;
}

.long{
    margin-top: 50px;
}
.middle{
    height: 75vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
			align-items: center;
    -webkit-justify-content: center;
			justify-content: center;
    -webkit-flex-direction: column;
			flex-direction: column;

    .full{
        width: 450px;
        // @media only screen and (min-width: $screen-xs){
        //     width: 400px;
        //     height: 450px;
        // }
    }

    .panel-default{
        height: 450px;
        width: 100%;
        @media only screen and (min-width: $screen-xs){
            width: 350px;
            height: 450px;
        }
        background-color: $white;
        @include box-shadow(1px,1px,8px,$lightest-grey);
        font-family: $lato;
        font-weight: bold;

        .panel-heading{
            text-align: center;
            padding-top: 30px;
            font-family: $arial;

            h3{
                color: $darkest-grey;
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 0px;
                text-transform: uppercase;
            }
            p{
                color: $lightest-grey;
                font-weight: normal;
                font-size: 1rem;
                letter-spacing: 1px;;
            }
        }
        .admin-head{
            background-color: $dark-blue;
            padding-bottom: 5px;
            h3{
                color: $white;
                font-size: 1.2rem;
            }
            p{
                font-size: .8rem;
            }
        }
        .panel-body{
            margin-top: 60px;

            .panel-wrapper{
                .form-group{
                    margin: 5px;
                }
                // profil pic
                label{
                    position: absolute;
                    top: 63px;
                    // left: 170px;
                    height: 35px;
                    width: 35px;
                    background-image: url("../images/icons/plus.png");
                    opacity: .5;
                    @include transition(opacity,.2s);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-color: none;
                    cursor: pointer;
                    margin-bottom: 0;
                    z-index: 2;
                    [type=file] {
                        display: none;
                    }
                }
                label:hover{
                    opacity: 1;
                }
                #upload-demo{
                    margin-top: 25px;
                    .cr-boundary{
                        background-image: url(../images/icons/propic.png);
                        background-position: center;
                        background-size: 130px;
                        border-radius: 50%;
                    }
                    .cr-viewport{
                        border: solid 3px $lightest-grey;
                    }
                    .cr-slider-wrap{
                        margin-top: 5px;
                        margin-bottom: 3px;
                    }
                }
                 // profile pic end


                padding: 0px 30px 0px 30px;
                input{
                    font-size: 1rem;
                    font-weight: normal;
                    margin-top: 7px;
                    margin-bottom: 7px;
                    @include rounded(2px);
                    border: none;
                    background-color: lighten($lightest-grey,15%);
                    color: lighten($dark-grey,15%);
                }
                textarea{
                    font-size: 1rem;
                    width: 100%;
                    font-weight: normal;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    @include rounded(2px);
                    border: none;
                    background-color: lighten($lightest-grey,15%);
                    color: lighten($dark-grey,15%);
                    padding-left: 10px;
                    resize: none;
                }
                .checkbox{
                    color: $darkest-grey;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-justify-content: center;
                    justify-content: center;
                    margin-top: 10px;
                    label{
                        cursor: pointer;
                        [type="checkbox"]{
                            display: none;
                        }
                        [type="checkbox"]+.item-text:before{
                            content: "\f096";
                            font-family: FontAwesome;
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            text-transform: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            width: 1em;
                            display: inline-block;
                            margin-right: 3px;
                            color: $dark-grey;
                        }
                        [type="checkbox"]:checked+.item-text:before{
                            content: "\f14a";
                            color: $dark-grey;
                            animation: tick 170ms ease-in;
                        }
                    }
                }
                .button{
                    display: -webkit-flex;
                    display: flex;
                    -webkit-justify-content: center;
                    justify-content: center;
                    button{
                        @include rounded(5px);
                        width: 100px;
                        margin-top: 0px;
                        @include background-gradient($green,$skyblue);
                        border: none;
                    }
                }
                .forgot{
                    text-align: center;
                    margin-top: 0px;
                    color: $blue;
                    font-size: .9rem;
                }
            }
        }
    }
    .full{
        // width: 450px;
        @media only screen and (min-width: $screen-sm){
            width: 450px;
        }
    }

}


@keyframes tick {
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
